<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.erdiansyah.githubusers2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GithubUserS2">
        <activity
            android:name=".presenter.FavoritActivity"
            android:exported="false" />
        <activity
            android:name=".presenter.UserPageActivity"
            android:exported="false" />
        <activity
            android:name=".presenter.FrontScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presenter.MainActivity"
            android:launchMode = "singleTop"
            android:exported="false" />
    </application>

</manifest>